---
---

// @import "{{ site.theme }}";

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

path {
  stroke: white;
}

.map {
  width: 50%;
  float: left;
}
.detail-explanation {
  display: none;
}
.country {
  fill-opacity: .8;
}
.wrapper {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 7%;

}
.country-detail {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  #noData {
    display: none;
  }

  h2 {
    font-weight: 100px;
  }
  .detail-head {
    display: block;

  }
  .total-bar {
    width: 50%;
    float: left;
  }
}
.label-top {
  display: block;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke-width: 1.5px;
}

.select-group {
  padding: 0% 15% 0% 15%;
}

.network {
  padding: 100px;
  text-align: center;
}

div.tooltip {
  position: absolute;
  // width: 200px;
  // height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  .connected-to {
    display: block;
    margin-top: 10px;
  }
}

.page-head {
  margin-top: 50px;
  .nav {
    float: right;
    position: relative;
    top: -40px;
    padding-left: 10px;
  }
}

.table-container {
  margin-top: 30px;
}

.legend-box {
  padding-left: 10px;
   width: 10px;
   height: 10px;
   margin-left: 10px;
   margin-right: 5px;

}

.legend {
  padding: 10px;
}
