<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% seo %}
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!--[if lt IE 9]>
    <script src=" //cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js "></script>
    <![endif]-->
</head>
<div>

  <body>
    <div class="wrapper ">
      <div class="page-head">
        <h1>Vizualisation</h1>
      </div>
    </div>
    <div class="container">
      <div class="map"></div>
      <div class="country-detail">
        <div class="detail-head">
          <h2 class="country-name"></h2>
          <p class="detail-explanation">
            In <span class="country-name"></span> <strong id="numParties"></strong> nationalist parties hold in total
            <strong id="totalSeatsNum"></strong> out of <strong id="seatsToGet"></strong> seats in the parliament. In the last election they got <strong id="totalVotesNum"></strong> (<strong id="totalPercentage"></strong>) of the popular vote.
          </p>
        </div>
        <div id="noData">
          <strong>For <span class="country-name"></span> there is no data to display.</strong>
        </div>
        <div id="totalVotes" class="total-bar"></div>
        <div id="totalSeats" class="total-bar"></div>
      </div>
    </div>
    <script type="text/javascript" src="assets/js/map.js"></script>
    <script type="text/javascript" src="assets/js/country-detail.js"></script>
  </body>

</html>