<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% seo %}
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <!--[if lt IE 9]>
    <script src=" //cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js "></script>
    <![endif]-->
</head>
<div>

  <body>
    <div class="container ">
      <div class="page-head">
        <h1>Network Visualization</h1>
        <a class="nav" href="{{ site.baseurl }}/map">Map</a>
        <a class="nav" href="{{ site.baseurl }}/">Home</a>
        <p>
          The network below shows the full picture of all the nationalist parties and fascist movements in Europe and how they are connected. It contains
          <strong>247</strong> entities or <i>nodes</i> and <strong>2813</strong> connections or <i>links</i>. There are <strong>70</strong> nationalist parties with
          <strong>153</strong> links between them and <strong>177</strong> fascist movements with <i>2329</i> links between those. There are <strong>27</strong> parties linking to <strong>48</strong> fascist movements through <strong>150</strong> links.
          There are <strong>88</strong> movements linking to
          <strong>24</strong> parties through 181 links.
        </p>
        <p>
          Use the dropdowns to select what meaning the colors and the size or the nodes in the network have. The colors can be used to show differentiate between countries, nationalist parties and fascist movements or algorithmically found communities of entities
          (more on that below). Use the size to get a feel for the importance of the nodes in the network. Select <i>in degree</i> to see how many nodes link to that party or <i>out degree </i>to show how many other nodes are linked to from
          node. <i>Betweennes Centrality</i> is a measure of how important a node is within a network in terms of information flow (more about that below). Hover over the nodes to get more detais on the node.

        </p>
        <p>
          <i>Side note: there are 41 different countries and 20 colors so one color represents multiple countries.</i>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <label class="label label-top">Choose what the colors should display:</label>
          <select id="colorMetric">
            <option value='country'>
              Country
            </option>
            <option value='label'>
              Fascist vs Nationalist
            </option>
            <option value='info_community'>
              Community (Infomap)
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="label label-top">Choose what the size should display:</label>
          <select id="sizeMetric">
            <option value='uniform'>
              Uniform
            </option>
            <option value='in_degree_all'>
              Degree (in)
            </option>
            <option value='out_degree_all'>
              Degree (out)
            </option>
            <option value='all_betweenness'>
              Betweenness Centrality (Square Root)
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="legend">

          </div>
          <div class="network">

          </div>
        </div>

      </div>

    </div>
    <div class="container">
      {{ content }}
    </div>
    <script type="text/javascript" src="assets/js/map.js"></script>
    <script type="text/javascript" src="assets/js/country-detail.js"></script>
    <script type="text/javascript" src="assets/js/network.js"></script>
    <script type="text/javascript" src="assets/js/network-detail.js"></script>

  </body>

</html>